---
---

$primary: #d33682;
$info: #6c71c4;
$link: $primary;
$link-hover: $info;

$text: black;
$background: #fdf6e3;

$navbar-background: #DDD6C1AA;
$navbar-inactive: #D9D2C2;
$navbar-border: #DDD6C1;

@import "common.scss"