@import "./bulma-0.7.5/sass/utilities/_all.sass";
@import "./bulma-0.7.5/sass/components/navbar.sass";
@import "./bulma-0.7.5/sass/elements/button.sass";
@import "./bulma-0.7.5/sass/base/_all.sass";
@import "./bulma-0.7.5/sass/elements/icon.sass";

html {
  background: $background;
  overflow: auto;
}

body {
  color: $text;
}

.navbar-burger {
  color: $primary;
}

.navbar-menu {
  padding: 0;
}

@media screen and (max-width: 1023px) {
  .navbar-menu.is-active {
    position: absolute;
  }
}

#main {
  line-height: 1.3em;
  font-family: "Fira Code";
  padding-bottom: 1.5em;
}

.txt-line {
  display: flex;
}

.line-num {
  border-right: $text solid 1px;
  width: 2.5em;
  margin-right: 1em;
  text-align: right;
  opacity: 0.6;
  padding-right: 0.5em;
}

.txt-line p {
  width: 100%;
}
.button {
  text-decoration: none;
}

.navbar {
  font-family: "Fira Code";
  background: $navbar-background;
}

.navbar-item {
  background: $navbar-inactive;
  color: $navbar-inactive-text;
  text-decoration: none;
  border-right: $navbar-border solid 1px;
}

a.navbar-item:hover {
  color: $info;
  background: transparent;
}

.navbar-selected {
  background: $background;
  color: $text;
}

.navbar-item .icon {
  margin-right: 5px;
}

a {
  text-decoration: underline;
}

h1 {
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  font-family: 'Fira Code';
  color: $text;
  width: 100%;
  background: $navbar-inactive;
  font-size: small;
  padding-left: 10px;
}